@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
body {
  font-family: 'Roboto Mono', monospace;
  background-color:white;
  height: 100% !important;
}

.containertwo {
  height: 100%;
  width: 100%;
  justify-content:center;
  align-items: center;
  display: flex;
}
.text{
  font-weight: 100;
  font-size:28px;
  color :#242222;
  padding-top: 40vh;
;
}
.dud{
  color: #757575;
}

/* paper */
.bodytwo {
  margin: 0;
  padding: 0;
  background: #efefef;
}

.box {
  position: relative;
  margin: 40px auto;
  width: 70vw!important;
  height: auto;
  background: #fff;
  border-radius: 2px;
}

.box::before,
.box::after {
  content: '';
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0,0,0,.7);
  z-index: -1;
  transition: all .3s ease-in-out;
}

.box::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.box::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.box:hover::before,
.box:hover::after {
  box-shadow: 0 2px 14px rgba(0,0,0,.4);
}

.box:hover::before {
  left: 5px;
}

.box:hover::after {
  right: 5px;
}

/* pulsating */
.pulse {
  /* position: absolute; */
  /* top: 35%;
  left: 40%; */
  transform: translate(-505, -50%);
  /* width: 100px;
  height: 100px; */
  background: gray;
  /* border: 2px solid #33ff00; */
  /* border-radius: 50%; */
  box-sizing: border-box;
  /* box-shadow: 0 0 0 36px #45237a, */
          /* 0 0 0 40px #56ff00; */
}

.pulse:before,
.pulse:after {
  content: '';
  position: absolute;
  left: -30px;
  top: -30px;
  right: -30px;
  bottom: -30px;
  border: 2px solid 	#E8E8E8;
  border-radius: 50%;
  animation: animate 2s linear infinite
}

.pulse:after {
  animation-delay: 1s;
}

@keyframes animate {
  0% {
      transform: scale(2.0);
  }

  100% {
      transform: scale(0.7);
  }
}




